@using Silicon_WebApp.Entites
@model IEnumerable<CourseEntity>

@{
	ViewData["Title"] = "Courses";
}
<section>
	<div class="container">
		<nav class="breadcrumbs">
			<a asp-action="Index" asp-controller="Home"><i class=" fa-solid fa-house"></i>Home</a>
			<i class="fa-solid fa-angles-right"></i>
			<a asp-action="Index" class="active">Courses</a>
		</nav>
		<div class="title">
			<h1>Courses</h1>
			<div class="dropdown">
				<select>
					<option value="all" disabled selected>All Categories</option>
				</select>
			</div>
			<div class="searchbar">
				<input type="text" placeholder="Search courses">
				<span><i class="fa-solid fa-magnifying-glass"></i></span>
			</div>
		</div>
<div class="course-grid">

			@foreach (var course in Model!)
				{
					<div onclick="location.href='@Url.Action("Details", "Courses", new {id = ""})'" class="course-content">
						<div class="inside-image">
							@if (course.IsBestseller)
							{
								<p class="best-seller">Best Seller</p>

							}
							<img src="~/images/@course.ImageName" alt="@course.Id" class="course-image" />
						<div class="bookmark">
						<a class="btn-circle-sm btn-circle bookmark" asp-action="Join" asp-controller="Courses"><i class="fa-regular fa-bookmark"></i></a>
						</div>
						</div>
						<h6>@course.Title</h6>
						<p>@course.Author</p>

						@if (course.DiscountPrice > 0)
						{
							<p class="price-sale">$@course.DiscountPrice<span>$@course.OriginalPrice</span></p>
						}
						else
						{
							<p class="price">$@course.OriginalPrice</p>
						}


						<hr />
						<div class="bottom">
							<p><i class="fa-regular fa-clock"></i>@course.Hours Hours</p>
							<p><i class="fa-regular fa-thumbs-up"></i>@course.LikesInPercent% (@course.LikesInNumbers K)</p>
						</div>
					</div>
				}
			
			
			

</div>
		<ul class="pagination">
			<li><a href="#"><i class="fa-solid fa-arrow-left"></i></a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#"><i class="fa-solid fa-arrow-right"></i></a></li>

		</ul>
</div>
</section>



<section>
	<div class="container">
		<div class="bottom-section">
			<div class="text-section">
				<p>Ready to get started?</p>
				<h2>Take Your <span>Skills</span> to the<br /> Next Level</h2>
				<button class="btn-theme">Work with us</button>
			</div>
			<div>
				<img src="~/images/illustration.svg" alt="illustration image"/>
			</div>

		</div>

	</div>


</section>